<header class="navbar navbar-default">
	<ul class="nav navbar-nav-custom">
		<li>
			<a href="#" onclick="App.sidebar('toggle-sidebar');">
				<i class="fa fa-bars fa-fw"></i>
			</a>
		</li>
	</ul>
	<form action="#" method="post" class="navbar-form-custom" role="search">
		<div class="form-group">
			<input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
		</div>
	</form>
	<ul class="nav navbar-nav-custom pull-right">
		<!-- <li>
			<a href="#" onclick="App.sidebar('toggle-sidebar-alt', 'toggle-other');">
				<i class="gi gi-share_alt"></i>
				<span class="label label-primary label-indicator animation-floating">4</span>
			</a>
		</li> -->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<%= image_tag 'avatar2.jpg' %>

				<i class="fa fa-angle-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-custom dropdown-menu-right">
				<li>
					<%= link_to root_path do %>
						<i class="fa fa-bank fa-fw pull-right"></i>View Website
					<% end %>
					<a href="#">
						<i class="fa fa-user fa-fw pull-right"></i>Profile
					</a>
					<a href="#" data-toggle="modal">
						<i class="fa fa-cog fa-fw pull-right"></i>Settings
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<i class="fa fa-ban fa-fw pull-right"></i>
					<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
				</li>
			</ul>
		</li>
	</ul>
</header>