<div id="sidebar-alt">
	<div id="sidebar-alt-scroll">
		<div class="sidebar-content">
			<a href="page_ready_chat.htm" class="sidebar-title">
				<i class="gi gi-comments pull-right"></i> <strong>Chat</strong>UI
			</a>
			<ul class="chat-users clearfix">
				<%= (1..12).each do %>
				<li>
					<a href="#" class="chat-user-online">
						<span></span>
						<%= image_tag 'avatar12.jpg', class:'img-circle', alt:'avatar' %>
					</a>
				</li>
				<% end %>
			</ul>
			<div class="chat-talk display-none">
				<div class="chat-talk-info sidebar-section">
					<button id="chat-talk-close-btn" class="btn btn-xs btn-default pull-right">
						<i class="fa fa-times"></i>
					</button>
					<%= image_tag 'avatar5.jpg', class:'img-circle pull-left', alt:'avatar' %>
					<strong>John</strong> Doe
				</div>
				<ul class="chat-talk-messages">
					<li class="text-center"><small>Yesterday, 18:35</small></li>
					<li class="chat-talk-msg animation-slideRight">Hey admin?</li>
					<li class="chat-talk-msg animation-slideRight">How are you?</li>
					<li class="text-center"><small>Today, 7:10</small></li>
					<li class="chat-talk-msg chat-talk-msg-highlight themed-border animation-slideLeft">I'm fine, thanks!</li>
				</ul>
				<form action="index.htm" method="post" id="sidebar-chat-form" class="chat-form">
					<input type="text" id="sidebar-chat-message" name="sidebar-chat-message" class="form-control form-control-borderless" placeholder="Type a message..">
				</form>
			</div>
			<a href="#" class="sidebar-title">
				<i class="fa fa-globe pull-right"></i> <strong>Activity</strong>UI
			</a>
			<div class="sidebar-section">
				<div class="alert alert-danger alert-alt">
					<small>just now</small><br>
					<i class="fa fa-thumbs-up fa-fw"></i> Upgraded to Pro plan
				</div>
				<div class="alert alert-info alert-alt">
					<small>2 hours ago</small><br>
					<i class="gi gi-coins fa-fw"></i> You had a new sale!
				</div>
				<div class="alert alert-success alert-alt">
					<small>3 hours ago</small><br>
					<i class="fa fa-plus fa-fw"></i> <a href="page_ready_user_profile.htm"><strong>John Doe</strong></a> would like to become friends!<br>
					<a href="#" class="btn btn-xs btn-primary"><i class="fa fa-check"></i> Accept</a>
					<a href="#" class="btn btn-xs btn-default"><i class="fa fa-times"></i> Ignore</a>
				</div>
				<div class="alert alert-warning alert-alt">
					<small>2 days ago</small><br>
					Running low on space<br><strong>18GB in use</strong> 2GB left<br>
					<a href="page_ready_pricing_tables.htm" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Upgrade Plan</a>
				</div>
			</div>
			<a href="page_ready_inbox.htm" class="sidebar-title">
				<i class="fa fa-envelope pull-right"></i> <strong>Messages</strong>UI (5)
			</a>
			<div class="sidebar-section">
				<div class="alert alert-alt">
					Debra Stanley<small class="pull-right">just now</small><br>
					<a href="page_ready_inbox_message.htm"><strong>New Follower</strong></a>
				</div>
				<div class="alert alert-alt">
					Sarah Cole<small class="pull-right">2 min ago</small><br>
					<a href="page_ready_inbox_message.htm"><strong>Your subscription was updated</strong></a>
				</div>
				<div class="alert alert-alt">
					Bryan Porter<small class="pull-right">10 min ago</small><br>
					<a href="page_ready_inbox_message.htm"><strong>A great opportunity</strong></a>
				</div>
				<div class="alert alert-alt">
					Jose Duncan<small class="pull-right">30 min ago</small><br>
					<a href="page_ready_inbox_message.htm"><strong>Account Activation</strong></a>
				</div>
				<div class="alert alert-alt">
					Henry Ellis<small class="pull-right">40 min ago</small><br>
					<a href="page_ready_inbox_message.htm"><strong>You reached 10.000 Followers!</strong></a>
				</div>
			</div>
		</div>
	</div>
</div>