<div class="content-header">
  <div class="header-section">
    <h1>
      New Data<br>
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
	<li><%= link_to "Dashboard", root_path %></li>
	<li><a href="#">title</a></li>
</ul>