<div id="page-content">
	<div class="content-header content-header-media">
		<div class="header-section">
			<div class="row">
				<div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
					<h1>Welcome, <strong>Fathan Rohman</strong></h1>
				</div>
				<div class="col-md-8 col-lg-6">
					<!-- <div class="row text-center">
						<div class="col-xs-4 col-sm-3">
							<h2 class="animation-hatch">
								<strong>93.7k</strong><br>
								<small><i class="fa fa-thumbs-o-up"></i> Visitors</small>
							</h2>
						</div>
						<div class="col-xs-4 col-sm-3">
							<h2 class="animation-hatch">
								<strong>167k</strong><br>
								<small><i class="fa fa-heart-o"></i> Likes</small>
							</h2>
						</div>
						<div class="col-xs-4 col-sm-3">
							<h2 class="animation-hatch">
								<strong>30000</strong><br>
								<small><i class="fa fa-calendar-o"></i> Users</small>
							</h2>
						</div>
						<div class="col-sm-3 hidden-xs">
							<h2 class="animation-hatch">
								<strong>100000</strong><br>
								<small><i class="fa fa-map-marker"></i> Iklan</small>
							</h2>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		<%= image_tag 'photo13.jpg', class:'animation-pulseSlow' %>
	</div>
</div>