<div class="col-sm-12">
	<%= f.fields_for :galleries do |g| %>
	  <%= render 'gallery_fields', f: g %>
	<% end %>
	
	<hr>
	<div class="links">
		<%= link_to_add_association 'Add Image', f, :galleries, partial: 'gallery_fields', class: "btn btn-default float-right" %>
	</div>
	<br>
	<br>
</div>