<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Status</label>
	<div class="col-md-1">
		<%= product_property.check_box :status, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Category</label>
	<div class="col-md-6">
		<div class="input-group">
		<%#= product_property.select :category_id, options_for_select(products_category_options, @product.category_id),{prompt: 'Select Category...'}, class: 'form-control' %>
		</div>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Title</label>
	<div class="col-md-6">
		<div class="input-group">
			<%= product_property.text_field :title, class: 'form-control', placeholder: 'Title' %>
			<span class="input-group-addon"><i class="gi gi-list"></i></span>
		</div>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Description</label>
	<div class="col-md-8">
		<%= product_property.cktext_area :description, class: 'form-control txtarea', placeholder: 'Description' %>
	</div>
</div>			
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Price</label>
	<div class="col-md-6">
		<%= product_property.text_field :price, data: {autonumeric: true}, class: 'form-control', placeholder: 'Price' %>
	</div>
</div>